#Account-Container .Account-Profile-Details {
  width: 100%;
}

#Account-Container .Account-Header {
  margin: 15px;
  font-size: 42px;
}

#Account-Container .Top-Skills-Wrapper {
  width: 80%;
  margin: 0 auto;
}

#Account-Container .Account-Button-Options {
  margin: 0 auto;
  width: 80%;
}

#Account-Container .Account-Skill{
  margin: 10px auto;
  width: 30%;
}

#Account-Container .Account-Options-Wrapper {
  padding: 0;
  margin: 0;
}

#Account-Container .Account-Item-Name {
  margin-top: 7px;
  line-height: 1.2;
}

#Account-Container .Account-Not-Loggedin-User {
  display: none;
}