#Account-Container {
  height: 100%;
  margin-left: 20px;
}

#Account-Container .Account-Profile-Details {
  width: 100%;
  margin: 0 auto;
}

#Account-Container .Account-Header {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
}

#Account-Container .Card-Wrapper {
  margin: 0 auto;
}

#Account-Container .Account-Header-Details {
  width: 100%;
  font-weight: bold;
}

#Account-Container .Account-Skills {
  font-weight: bold;
}

#Account-Container .Account-Account-Options {
  width: 35%;
  margin-bottom: 5px;
}

#Account-Container .Account-Options-Wrapper {
  padding: 0;
  margin: 0;
}

#Account-Container .Account-Item-Name {
  margin-top: 7px;
  line-height: 1.2;
}

#Account-Container .Account-Not-Loggedin-User {
  display: none;
}