#Account-Container .Circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#Account-Container .Circular-Image {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Account-Container .Account-Image-Alignment {
  margin: 0 auto;
  margin-top: 20px;
}

#Account-Container .Account-Card {
  margin: 30px auto;
}

#Account-Container .Account-Header {
  margin: 15px;
  font-size: 42px;
}

#Account-Container .Top-Skills-Wrapper {
  width: 80%;
  margin: 0 auto;
}

#Account-Container .Account-Button-Options {
  margin: 0 auto;
  width: 80%;
}

#Account-Container .Account-Skill{
  margin: 10px auto;
  width: 30%;
}

#Account-Container .Account-Options-Wrapper {
  padding: 0;
  margin: 0;
}

#Account-Container .Account-Item-Name {
  margin-top: 7px;
  line-height: 1.2;
}

#Account-Container .Account-Not-Loggedin-User {
  display: none;
}