#Home-Container {
  border: 2px solid black;
  background-color: #f9fafb;
  height: 100vh;
  /* width: 100vw; */
}

#Home-Container .Home-Icon {
  font-size: 200px;
}

#Home-Container .Home-Title {
  font-size: 50px;
}