#Home-Container {
  height: 80vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-animation: none;
  animation: none;
  padding: 1em 1em;
}

#Home-Container .Home-Icon {
  font-size: 200px;
}

#Home-Container .Home-Title {
  font-size: 50px;
}