#Issue .Issue-Content {
  padding: 23px;
}

#Issue .Issue-Inner-Wrap {
  margin: 0 auto;
}

#Issue .Issue-Item-Wrapper {
  display: flex;
  justify-content: space-between;
}

#Issue .Issue-Icon-Title {
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 85%;
 
}
#Issue .Issue-Icon-Avatar {
  width: 15%;
}

#Issue .Issue-Item-Extra {
  margin: auto 0;
}

#Issue .Issue-Comment {
  font-size: 17px;
}
