#Issue .Issue-Content {
  padding: 23px;
}

#Issue .Issue-Inner-Wrap {
  margin: 0 auto;
}

#Issue .Issue-Comments {
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#Issue .Issue-Comment {
  font-size: 15px;
}