.Issue-header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.Issue-user-subheader {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: auto;
} 

.layer1 {
  padding: 0 20px;
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  text-align: center;
  font-size: 15px;
  grid-column: 1;
  grid-row: 2;
}

.Issue-extra-content {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}