.LogIn-Container {
  height: 100vh;
}

.LogIn-Container .LogIn-Segment {
  width: 35%;
  margin: 0 auto;
  margin-top: 12vh!important;
}

.LogIn-Container .LogIn-Header {
  margin-top: 10px!important;
  margin-bottom: 25px;
}

