#LogIn-Container {
  height: 100vh;
}

#LogIn-Container .LogIn-Segment {
  width: 35%;
  margin: 0 auto;
  margin-top: 12vh;
}

#LogIn-Container .LogIn-Header {
  margin-top: 10px;
  margin-bottom: 25px;
}

