#ShowIssue .ShowIssue-Header {
  margin: 20px;
  font-size: 42px;
}

#ShowIssue .ShowIssue-Content {
  padding: 23px;
}

#ShowIssue .ShowIssue-Wrap {
  margin: 0 auto;
}

#ShowIssue .ShowIssue-Issue-Body {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ShowIssue .ShowIssue-Comment-Header {
  margin: 20px;
  font-size: 28px;
}