#SignUp-Container {
  border: 2px solid black;
}

#SignUp-Container .SignUp-Segment {
  width: 50%;
  margin: 75px auto;
}

#SignUp-Container .SignUp-Header {
  margin-top: 10px;
  margin-bottom: 25px;
}