.SignUp-Container {
  height: 100vh;
}

.SignUp-Container .SignUp-Segment {
  width: 40vw;
  margin: 0 auto;
  margin-top: 12vh!important;
}

.SignUp-Container .SignUp-Header {
  margin-top: 10px!important;
  margin-bottom: 25px;
}