/* .UserProfile-Container {
  height: 100vh;
} */

.UserProfile-Container .UserProfile-Card {
  margin: 0 auto;
}

.UserProfile-Container .UserProfile-Header {
  margin-top: 25px!important;
  margin-bottom: 25px!important;
  font-size: 32px!important;
}

.UserProfile-Container .UserProfile-Skills-Header {
  width: 50vw;
  margin: 15px auto!important;
  font-weight: bold;
}

.UserProfile-Container .UserProfile-Skills {
  width: 75vw;
  margin: 15px auto;
  font-weight: bold;
}