#UserProfile-Container {
  height: 100%;
}

#UserProfile-Container .UserProfile-Profile-Details {
  margin: 0 auto;
  width: 47%;
}

#UserProfile-Container .UserProfile-Header {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
}

#UserProfile-Container .UserProfile-Skills-Header {
  width: 50vw;
  margin: 15px auto;
  font-weight: bold;
}

#UserProfile-Container .UserProfile-Skills {
  width: 75vw;
  margin: 15px auto;
  font-weight: bold;
}

#UserProfile-Container .UserProfile-Account-Options {
  height: 115px;
  width: 140px;
  margin-bottom: 5px;
}

#UserProfile-Container .UserProfile-Account-Items {
  padding: 7px;
}